@charset "utf-8";
/* CSS Document */
ul {	
			padding:10px; 
			margin-left: auto; 
			margin-right:auto;  
			width: 500px;
			} 
	li {	display:inline;
			background-color: blueviolet;
			padding:10px;
			border: 2px solid #B04FB9;
		}
	li:active {background-color:blueviolet;} 
		
	li a {	color:white; 
			font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif'; 
			text-transform: uppercase;
			}
	li a:link {text-decoration:none;}
	li a:hover {text-decoration:underline;
			background-color:violet;}
	
	</style>
	@font-face {
    font-family:"NikaIvandija";
	src:url("NikaIvandija.ttf");
}

